h1.logo a {
    color:#BBDAFD;
    display:block;
    height:50px;
    line-height:50px;
    text-decoration:none;
    background:none;
}

table.index td.actions {
    width:200px;
}

#progress { display: none; }
